@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');




* {
    font: Roboto;
    font-size: 10px;
    line-height: 3.5em;
    weight: 300;
  }
  

  #general-information {
}

#structure {
}

#team {
}

#schedule {
}



  h1 {
    font-size: 9em;
    text-align: center;
    transform: uppercase;
  }
   
  h2 {
    font-size: 5em;
    text-align: center;
    transform: uppercase;
    line-height: 4em;
    color: white;
    text-shadow: #020819 8px -20px 9px;
  }

  h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
  }
   
  h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
  }

  h5 {
    font-size: 1.2em;
    line-height: 1em;
  }

  nav {
    background: rgb(25, 33, 41);
  }

.nav-bar {
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.header-image {
    background-image:
        url('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
}

header {
    height: 650px;
}

.size-quote {
    quotes: '\0027', '\201D' ;
    font-size: 2.5em;
}

.sec1-background {
    background-color: rgb(25, 33, 41);
    color: white;
}

.text-bigger {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.link {
    background-color: rgb(67, 163, 230);
    color: white;
    padding: 14px 25px;
    font-family: Roboto Condensed;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto Condensed;
}





body {
  margin: 0;
  padding: 0;
}
